* {
    background: black;
}

p {
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
}

main .main-shop p {
    text-align: center;
    background-color: gray;
    font-size: 35px;
    border-top: 3px solid black;
    padding-top: 20px;
}

.main-shop {
    background-color: gray;
    border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-shop img {
    background-color: gray;
}

.main-shop a {
    background-color: gray;
}